@{
  TempData.Keep();
  string? currentPage = Convert.ToString(ViewContext.RouteData.Values["Page"])!;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-page="/Index" class="app-brand-link">
      <span class="app-brand-logo demo">
        @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-bold">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
      <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class='menu-item@(currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-smart-home"></i>
        <div data-i18n="Dashboards">داشبورد‌ها</div>
        <div class="badge bg-primary rounded-pill ms-auto">5</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Dashboards/Analytics" ? " active" : "")'>
          <a asp-page="/Dashboards/Analytics" class="menu-link">
            <div data-i18n="Analytics">آمار و گزارشات</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Dashboards/CRM" ? " active" : "")'>
          <a asp-page="/Dashboards/CRM" class="menu-link">
            <div data-i18n="CRM">ارتباط با مشتری (CRM)</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Ecommerce/Dashboard" ? " active" : "")'>
          <a asp-page="/Apps/Ecommerce/Dashboard" class="menu-link">
            <div data-i18n="eCommerce">تجارت الکترونیک</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Logistics/Dashboard" ? " active" : "")'>
          <a asp-page="/Apps/Logistics/Dashboard" class="menu-link">
            <div data-i18n="Logistics">حمل و نقل</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Academy/Dashboard" ? " active" : "")'>
          <a asp-page="/Apps/Academy/Dashboard" class="menu-link">
            <div data-i18n="Academy">آکادمی</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Layouts -->
    <li class='menu-item@(currentPage.StartsWith("/LayoutExamples/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-layout-sidebar"></i>
        <div data-i18n="Layouts">طرح‌ها</div>
      </a>

      <ul class="menu-sub">

        <li class='menu-item@(currentPage == "/LayoutExamples/CollapsedMenu" ? " active" : "")'>
          <a asp-page="/LayoutExamples/CollapsedMenu" class="menu-link">
            <div data-i18n="Collapsed menu">منو جمع شده</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/ContentNavbar" ? " active" : "")'>
          <a asp-page="/LayoutExamples/ContentNavbar" class="menu-link">
            <div data-i18n="Content navbar">نوار ناوبری محتوا</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/ContentNavbarWithSidebar" ? " active" : "")'>
          <a asp-page="/LayoutExamples/ContentNavbarWithSidebar" class="menu-link">
            <div data-i18n="Content nav + Sidebar">ناوبری محتوا + سایدبار</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/HorizontalMenu" ? " active" : "")'>
          <a asp-page="/LayoutExamples/HorizontalMenu" class="menu-link" target="_blank">
            <div data-i18n="Horizontal">منو افقی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/WithoutMenu" ? " active" : "")'>
          <a asp-page="/LayoutExamples/WithoutMenu" class="menu-link">
            <div data-i18n="Without menu">بدون منو</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/WithoutNavbar" ? " active" : "")'>
          <a asp-page="/LayoutExamples/WithoutNavbar" class="menu-link">
            <div data-i18n="Without navbar">بدون نوار ناوبری</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/Fluid" ? " active" : "")'>
          <a asp-page="/LayoutExamples/Fluid" class="menu-link">
            <div data-i18n="Fluid">محتوای تمام عرض</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/Container" ? " active" : "")'>
          <a asp-page="/LayoutExamples/Container" class="menu-link">
            <div data-i18n="Container">دربرگیرنده</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/LayoutExamples/Blank" ? " active" : "")'>
          <a asp-page="/LayoutExamples/Blank" class="menu-link">
            <div data-i18n="Blank">صفحه خالی</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Front Pages -->
    <li class='menu-item@(currentPage.StartsWith("/FrontPages/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-files'></i>
        <div data-i18n="Front Pages">صفحات سایت</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/FrontPages/LandingPage" ? " active" : "")'>
          <a asp-page="/FrontPages/LandingPage" class="menu-link" target="_blank">
            <div data-i18n="Landing">لندینگ</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/PricingPage" ? " active" : "")'>
          <a asp-page="/FrontPages/PricingPage" class="menu-link" target="_blank">
            <div data-i18n="Pricing">قیمت گذاری</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/PaymentPage" ? " active" : "")'>
          <a asp-page="/FrontPages/PaymentPage" class="menu-link" target="_blank">
            <div data-i18n="Payment">پرداخت</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/CheckoutPage" ? " active" : "")'>
          <a asp-page="/FrontPages/CheckoutPage" class="menu-link" target="_blank">
            <div data-i18n="Checkout">ثبت سفارش</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/HelpCenterLanding" ? " active" : "")'>
          <a asp-page="/FrontPages/HelpCenterLanding" class="menu-link" target="_blank">
            <div data-i18n="Help Center">مرکز پشتیبانی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FrontPages/HelpCenterArticle" ? " active" : "")'>
          <a asp-page="/FrontPages/HelpCenterArticle" class="menu-link" target="_blank">
            <div data-i18n="Help Learn">صفحه آموزش</div>
          </a>
        </li>
      </ul>
    </li>

    <li class='menu-item@(currentPage == "/CRUD/UserCRUD" ? " active" : "")'>
      <a asp-page="/CRUD/UserCRUD" class="menu-link">
        <i class="menu-icon tf-icons ti ti-database"></i>
        <div data-i18n="Users (CRUD)">کاربران (CRUD)</div>
      </a>
    </li>

    <!-- Apps & Pages -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Apps & Pages">برنامه‌ها و صفحات</span>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Email" ? " active" : "")'>
      <a asp-page="/Apps/Email" class="menu-link">
        <i class="menu-icon tf-icons ti ti-mail"></i>
        <div data-i18n="Email">ایمیل</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Chat" ? " active" : "")'>
      <a asp-page="/Apps/Chat" class="menu-link">
        <i class="menu-icon tf-icons ti ti-messages"></i>
        <div data-i18n="Chat">پیامرسان</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Apps/Calendar") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-calendar'></i>
        <div data-i18n="Calendar">تقویم</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Apps/Calendar/CalendarPage" ? " active" : "")'>
          <a asp-page="/Apps/Calendar/CalendarPage" class="menu-link">
            <div data-i18n="Gregorian Calendar">تقویم میلادی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Calendar/CalendarJalali" ? " active" : "")'>
          <a asp-page="/Apps/Calendar/CalendarJalali" class="menu-link">
            <div data-i18n="Solar Calendar">تقویم شمسی</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage == "/Apps/Kanban" ? " active" : "")'>
      <a asp-page="/Apps/Kanban" class="menu-link">
        <i class="menu-icon tf-icons ti ti-layout-kanban"></i>
        <div data-i18n="Kanban">گردش‌کار</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Apps/Ecommerce/") ? " active open" : "")'>
      <a href='javascript:void(0);' class='menu-link menu-toggle'>
        <i class='menu-icon tf-icons ti ti-shopping-cart'></i>
        <div data-i18n="eCommerce">تجارت الکترونیک</div>
      </a>
      <ul class='menu-sub'>
        <li class='menu-item@(currentPage == "/Apps/Ecommerce/Dashboard" ? " active" : "")'>
          <a asp-page='/Apps/Ecommerce/Dashboard' class='menu-link'>
            <div data-i18n="Dashboard">داشبورد</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Apps/Ecommerce/Products") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link menu-toggle'>
            <div data-i18n="Products">محصولات</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Products/ProductList" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Products/ProductList' class='menu-link'>
                <div data-i18n="Product List">لیست محصولات</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Products/ProductAdd" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Products/ProductAdd' class='menu-link'>
                <div data-i18n="Add Product">افزودن محصول</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Products/CategoryList" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Products/CategoryList' class='menu-link'>
                <div data-i18n="Category List">دسته‌بندی</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Apps/Ecommerce/Order") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link menu-toggle'>
            <div data-i18n="Order">سفارشات</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Order/OrderList" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Order/OrderList' class='menu-link'>
                <div data-i18n="Order List">لیست سفارشات</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Order/OrderDetails" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Order/OrderDetails' class='menu-link'>
                <div data-i18n="Order Details">جزئیات سفارش</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Apps/Ecommerce/Customer") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link menu-toggle'>
            <div data-i18n="Customer">مشتریان</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Customer/CustomerAll" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Customer/CustomerAll' class='menu-link'>
                <div data-i18n="All Customers">لیست مشتریان</div>
              </a>
            </li>
            <li
              class='menu-item@(currentPage.StartsWith("/Apps/Ecommerce/Customer/CustomerDetails") ? " active open" : "")'>
              <a href='javascript:void(0);' class='menu-link menu-toggle'>
                <div data-i18n="Customer Details">نمایش مشتری</div>
              </a>
              <ul class='menu-sub'>
                <li
                  class='menu-item@(currentPage == "/Apps/Ecommerce/Customer/CustomerDetails/CustomerOverview" ? " active" : "")'>
                  <a asp-page='/Apps/Ecommerce/Customer/CustomerDetails/CustomerOverview' class='menu-link'>
                    <div data-i18n="Overview">مرور‌کلی</div>
                  </a>
                </li>
                <li
                  class='menu-item@(currentPage == "/Apps/Ecommerce/Customer/CustomerDetails/CustomerSecurity" ? " active" : "")'>
                  <a asp-page='/Apps/Ecommerce/Customer/CustomerDetails/CustomerSecurity' class='menu-link'>
                    <div data-i18n="Security">امنیت</div>
                  </a>
                </li>
                <li
                  class='menu-item@(currentPage == "/Apps/Ecommerce/Customer/CustomerDetails/CustomerBilling" ? " active" : "")'>
                  <a asp-page='/Apps/Ecommerce/Customer/CustomerDetails/CustomerBilling' class='menu-link'>
                    <div data-i18n="Address & Billing">آدرس و صورتحساب</div>
                  </a>
                </li>
                <li
                  class='menu-item@(currentPage == "/Apps/Ecommerce/Customer/CustomerDetails/CustomerNotifications" ? " active" : "")'>
                  <a asp-page='/Apps/Ecommerce/Customer/CustomerDetails/CustomerNotifications' class='menu-link'>
                    <div data-i18n="Notifications">اعلانات</div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Ecommerce/Reviews" ? " active" : "")'>
          <a asp-page='/Apps/Ecommerce/Reviews' class='menu-link'>
            <div data-i18n="Manage Reviews">مدیریت بازخوردها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Ecommerce/Referrals" ? " active" : "")'>
          <a asp-page='/Apps/Ecommerce/Referrals' class='menu-link'>
            <div data-i18n="Referrals">باشگاه مشتریان</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Apps/Ecommerce/Settings") ? " active open" : "")'>
          <a href='javascript:void(0);' class='menu-link menu-toggle'>
            <div data-i18n="Settings">تنظیمات</div>
          </a>
          <ul class='menu-sub'>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Settings/StoreDetails" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Settings/StoreDetails' class='menu-link'>
                <div data-i18n="Store Details">فروشگاه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Settings/Payments" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Settings/Payments' class='menu-link'>
                <div data-i18n="Payments">پرداخت‌ها</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Settings/Checkout" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Settings/Checkout' class='menu-link'>
                <div data-i18n="Checkout">ثبت سفارش</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Settings/Shipping" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Settings/Shipping' class='menu-link'>
                <div data-i18n="Shipping & Delivery">حمل و نقل</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Settings/Locations" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Settings/Locations' class='menu-link'>
                <div data-i18n="Locations">آدرس‌ها</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Ecommerce/Settings/Notifications" ? " active" : "")'>
              <a asp-page='/Apps/Ecommerce/Settings/Notifications' class='menu-link'>
                <div data-i18n="Notifications">نوتیفیکیشن</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Apps/Academy/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-book'></i>
        <div data-i18n="Academy">آکادمی</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Apps/Academy/Dashboard" ? " active" : "")'>
          <a asp-page="/Apps/Academy/Dashboard" class="menu-link">
            <div data-i18n="Dashboard">داشبورد</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Academy/MyCourse" ? " active" : "")'>
          <a asp-page="/Apps/Academy/MyCourse" class="menu-link">
            <div data-i18n="My Course">دوره‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Academy/CourseDetails" ? " active" : "")'>
          <a asp-page="/Apps/Academy/CourseDetails" class="menu-link">
            <div data-i18n="Course Details">یک دوره</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Apps/Logistics/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-truck'></i>
        <div data-i18n="Logistics">حمل و نقل</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Apps/Logistics/Dashboard" ? " active" : "")'>
          <a asp-page="/Apps/Logistics/Dashboard" class="menu-link">
            <div data-i18n="Dashboard">داشبورد</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Logistics/Fleet" ? " active" : "")'>
          <a asp-page="/Apps/Logistics/Fleet" class="menu-link">
            <div data-i18n="Fleet">ناوگان نشان</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Logistics/FleetMapbox" ? " active" : "")'>
          <a asp-page="/Apps/Logistics/FleetMapbox" class="menu-link">
            <div data-i18n="Mapbox Fleet">ناوگان مپ‌باکس</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Apps/Invoice/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-file-dollar'></i>
        <div data-i18n="Invoice">صورتحساب</div>
        <div class="badge bg-danger rounded-pill ms-auto">4</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Apps/Invoice/List" ? " active" : "")'>
          <a asp-page="/Apps/Invoice/List" class="menu-link">
            <div data-i18n="List">لیست</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Invoice/Preview" ? " active" : "")'>
          <a asp-page="/Apps/Invoice/Preview" class="menu-link">
            <div data-i18n="Preview">پیش‌فاکتور</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Invoice/Edit" ? " active" : "")'>
          <a asp-page="/Apps/Invoice/Edit" class="menu-link">
            <div data-i18n="Edit">ویرایش</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Invoice/Add" ? " active" : "")'>
          <a asp-page="/Apps/Invoice/Add" class="menu-link">
            <div data-i18n="Add">افزودن</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Apps/Users/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-users"></i>
        <div data-i18n="Users">کاربران</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Apps/Users/List" ? " active" : "")'>
          <a asp-page="/Apps/Users/List" class="menu-link">
            <div data-i18n="List">لیست</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Apps/Users/View/") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="View">نمایش</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Apps/Users/View/Account" ? " active" : "")'>
              <a asp-page="/Apps/Users/View/Account" class="menu-link">
                <div data-i18n="Account">حساب</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Users/View/Security" ? " active" : "")'>
              <a asp-page="/Apps/Users/View/Security" class="menu-link">
                <div data-i18n="Security">امنیت</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Users/View/Billing" ? " active" : "")'>
              <a asp-page="/Apps/Users/View/Billing" class="menu-link">
                <div data-i18n="Billing & Plans">اشتراک و روش‌پرداخت</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Users/View/Notifications" ? " active" : "")'>
              <a asp-page="/Apps/Users/View/Notifications" class="menu-link">
                <div data-i18n="Notifications">اعلانات</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Apps/Users/View/Connections" ? " active" : "")'>
              <a asp-page="/Apps/Users/View/Connections" class="menu-link">
                <div data-i18n="Connections">سایرحساب‌ها</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Apps/Access/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class='menu-icon tf-icons ti ti-settings'></i>
        <div data-i18n="Roles & Permissions">نقش و سطح دسترسی</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Apps/Access/Roles" ? " active" : "")'>
          <a asp-page="/Apps/Access/Roles" class="menu-link">
            <div data-i18n="Roles">نقش‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Apps/Access/Permission" ? " active" : "")'>
          <a asp-page="/Apps/Access/Permission" class="menu-link">
            <div data-i18n="Permission">دسترسی‌ها</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Pages/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-file"></i>
        <div data-i18n="Pages">صفحات</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage.StartsWith("/Pages/Profile") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="User Profile">پروفایل حرفه‌ای</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Pages/Profile/User" ? " active" : "")'>
              <a asp-page="/Pages/Profile/User" class="menu-link">
                <div data-i18n="Profile">پروفایل</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/Profile/Teams" ? " active" : "")'>
              <a asp-page="/Pages/Profile/Teams" class="menu-link">
                <div data-i18n="Teams">گروه‌ها</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/Profile/Projects" ? " active" : "")'>
              <a asp-page="/Pages/Profile/Projects" class="menu-link">
                <div data-i18n="Projects">پروژه‌ها</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/Profile/Connections" ? " active" : "")'>
              <a asp-page="/Pages/Profile/Connections" class="menu-link">
                <div data-i18n="Connections">همکاران</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Pages/AccountSettings") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Account Settings">تنظیمات حساب</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Pages/AccountSettings/Account" ? " active" : "")'>
              <a asp-page="/Pages/AccountSettings/Account" class="menu-link">
                <div data-i18n="Account">حساب</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/AccountSettings/Security" ? " active" : "")'>
              <a asp-page="/Pages/AccountSettings/Security" class="menu-link">
                <div data-i18n="Security">امنیت</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/AccountSettings/Billing" ? " active" : "")'>
              <a asp-page="/Pages/AccountSettings/Billing" class="menu-link">
                <div data-i18n="Billing & Plans">اشتراک و ‌پرداخت</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/AccountSettings/Notifications" ? " active" : "")'>
              <a asp-page="/Pages/AccountSettings/Notifications" class="menu-link">
                <div data-i18n="Notifications">اعلانات</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/AccountSettings/Connections" ? " active" : "")'>
              <a asp-page="/Pages/AccountSettings/Connections" class="menu-link">
                <div data-i18n="Connections">ارتباطات</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage == "/Pages/FAQ" ? " active" : "")'>
          <a asp-page="/Pages/FAQ" class="menu-link">
            <div data-i18n="FAQ">سوالات متداول</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Pages/Pricing" ? " active" : "")'>
          <a asp-page="/Pages/Pricing" class="menu-link">
            <div data-i18n="Pricing">قیمت گذاری</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Misc">دیگر صفحات</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Pages/Misc/Error" ? " active" : "")'>
              <a asp-page="/Pages/Misc/Error" class="menu-link" target="_blank">
                <div data-i18n="Error">خطا</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/Misc/UnderMaintenance" ? " active" : "")'>
              <a asp-page="/Pages/Misc/UnderMaintenance" class="menu-link" target="_blank">
                <div data-i18n="Under Maintenance">دردست تعمیر</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/Misc/ComingSoon" ? " active" : "")'>
              <a asp-page="/Pages/Misc/ComingSoon" class="menu-link" target="_blank">
                <div data-i18n="Coming Soon">به‌زودی</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Pages/Misc/NotAuthorized" ? " active" : "")'>
              <a asp-page="/Pages/Misc/NotAuthorized" class="menu-link" target="_blank">
                <div data-i18n="Not Authorized">غیرمجاز</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Auth/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-lock"></i>
        <div data-i18n="Authentications">احراز هویت</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage.StartsWith("/Auth/Login") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Login">ورود</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/Login/Basic" ? " active" : "")'>
              <a asp-page="/Auth/Login/Basic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/Login/Cover" ? " active" : "")'>
              <a asp-page="/Auth/Login/Cover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Auth/Register") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Register">عضویت</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/Register/Basic" ? " active" : "")'>
              <a asp-page="/Auth/Register/Basic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/Register/Cover" ? " active" : "")'>
              <a asp-page="/Auth/Register/Cover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/Register/MultiSteps" ? " active" : "")'>
              <a asp-page="/Auth/Register/Multisteps" class="menu-link" target="_blank">
                <div data-i18n="Multi-steps">چند مرحله‌ای</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Auth/VerifyEmail") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Verify Email">تأیید ایمیل</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/VerifyEmail/Basic" ? " active" : "")'>
              <a asp-page="/Auth/VerifyEmail/Basic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/VerifyEmail/Cover" ? " active" : "")'>
              <a asp-page="/Auth/VerifyEmail/Cover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Auth/ResetPassword") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Reset Password">ریست پسورد</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/ResetPassword/Basic" ? " active" : "")'>
              <a asp-page="/Auth/ResetPassword/Basic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/ResetPassword/Cover" ? " active" : "")'>
              <a asp-page="/Auth/ResetPassword/Cover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Auth/ForgotPassword") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Forgot Password">فراموشی پسورد</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/ForgotPassword/Basic" ? " active" : "")'>
              <a asp-page="/Auth/ForgotPassword/Basic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/ForgotPassword/Cover" ? " active" : "")'>
              <a asp-page="/Auth/ForgotPassword/Cover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Auth/TwoSteps") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Two Steps">تایید دومرحله‌ای</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/Auth/TwoSteps/Basic" ? " active" : "")'>
              <a asp-page="/Auth/TwoSteps/Basic" class="menu-link" target="_blank">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/Auth/TwoSteps/Cover" ? " active" : "")'>
              <a asp-page="/Auth/TwoSteps/Cover" class="menu-link" target="_blank">
                <div data-i18n="Cover">کاور</div>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Wizards/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-forms"></i>
        <div data-i18n="Wizard Examples">چند مرحله‌ای</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Wizards/Checkout" ? " active" : "")'>
          <a asp-page="/Wizards/Checkout" class="menu-link">
            <div data-i18n="Checkout">ثبت سفارش</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Wizards/PropertyListing" ? " active" : "")'>
          <a asp-page="/Wizards/PropertyListing" class="menu-link">
            <div data-i18n="Property Listing">درخواست ملک</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Wizards/CreateDeal" ? " active" : "")'>
          <a asp-page="/Wizards/CreateDeal" class="menu-link">
            <div data-i18n="Create Deal">ایجاد معامله</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage == "/Modals/Examples" ? " active" : "")'>
      <a asp-page="/Modals/Examples" class="menu-link">
        <i class="menu-icon tf-icons ti ti-square"></i>
        <div data-i18n="Modal Examples">نمونه‌های مُدال</div>
      </a>
    </li>

    <!-- Components -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Components">امکانات</span>
    </li>
    <!-- Cards -->
    <li class='menu-item@(currentPage.StartsWith("/Cards/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-id"></i>
        <div data-i18n="Cards">کارت‌ها</div>
        <div class="badge bg-primary rounded-pill ms-auto">5</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Cards/Basic" ? " active" : "")'>
          <a asp-page="/Cards/Basic" class="menu-link">
            <div data-i18n="Basic">پایه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Cards/Advance" ? " active" : "")'>
          <a asp-page="/Cards/Advance" class="menu-link">
            <div data-i18n="Advance">پیشرفته</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Cards/Statistics" ? " active" : "")'>
          <a asp-page="/Cards/Statistics" class="menu-link">
            <div data-i18n="Statistics">آمار</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Cards/Analytics" ? " active" : "")'>
          <a asp-page="/Cards/Analytics" class="menu-link">
            <div data-i18n="Analytics">آنالیز</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Cards/Actions" ? " active" : "")'>
          <a asp-page="/Cards/Actions" class="menu-link">
            <div data-i18n="Actions">عملیات</div>
          </a>
        </li>
      </ul>
    </li>
    <!-- User interface -->
    <li class='menu-item@(currentPage.StartsWith("/Ui/") ? " active open" : "")'>
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-color-swatch"></i>
        <div data-i18n="User interface">رابط کاربری</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Ui/Accordion" ? " active" : "")'>
          <a asp-page="/Ui/Accordion" class="menu-link">
            <div data-i18n="Accordion">آکاردئون</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Alerts" ? " active" : "")'>
          <a asp-page="/Ui/Alerts" class="menu-link">
            <div data-i18n="Alerts">هشدارها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Badges" ? " active" : "")'>
          <a asp-page="/Ui/Badges" class="menu-link">
            <div data-i18n="Badges">برچسب‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Buttons" ? " active" : "")'>
          <a asp-page="/Ui/Buttons" class="menu-link">
            <div data-i18n="Buttons">کلیدها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Carousel" ? " active" : "")'>
          <a asp-page="/Ui/Carousel" class="menu-link">
            <div data-i18n="Carousel">اسلایدر</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Collapse" ? " active" : "")'>
          <a asp-page="/Ui/Collapse" class="menu-link">
            <div data-i18n="Collapse">بازشونده</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Dropdowns" ? " active" : "")'>
          <a asp-page="/Ui/Dropdowns" class="menu-link">
            <div data-i18n="Dropdowns">پاپ‌آپ منو</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Footer" ? " active" : "")'>
          <a asp-page="/Ui/Footer" class="menu-link">
            <div data-i18n="Footer">فـوتر</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/ListGroups" ? " active" : "")'>
          <a asp-page="/Ui/ListGroups" class="menu-link">
            <div data-i18n="List Groups">لیست گروهی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Modals" ? " active" : "")'>
          <a asp-page="/Ui/Modals" class="menu-link">
            <div data-i18n="Modals">مُدال‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Navbar" ? " active" : "")'>
          <a asp-page="/Ui/Navbar" class="menu-link">
            <div data-i18n="Navbar">تولبار</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Offcanvas" ? " active" : "")'>
          <a asp-page="/Ui/Offcanvas" class="menu-link">
            <div data-i18n="Offcanvas">کشوی کناری</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/PaginationBreadcrumbs" ? " active" : "")'>
          <a asp-page="/Ui/PaginationBreadcrumbs" class="menu-link">
            <div data-i18n="Pagination & Breadcrumbs">صفحه‌بندی و مسیر</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Progress" ? " active" : "")'>
          <a asp-page="/Ui/Progress" class="menu-link">
            <div data-i18n="Progress">نوار پیشرفت</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Spinners" ? " active" : "")'>
          <a asp-page="/Ui/Spinners" class="menu-link">
            <div data-i18n="Spinners">لودینگ‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/TabsPills" ? " active" : "")'>
          <a asp-page="/Ui/TabsPills" class="menu-link">
            <div data-i18n="Tabs & Pills">تب‌ها و برگ‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Toasts" ? " active" : "")'>
          <a asp-page="/Ui/Toasts" class="menu-link">
            <div data-i18n="Toasts">توئستر</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/TooltipsPopovers" ? " active" : "")'>
          <a asp-page="/Ui/TooltipsPopovers" class="menu-link">
            <div data-i18n="Tooltips & Popovers">پاپ‌آپ راهنما</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Ui/Typography" ? " active" : "")'>
          <a asp-page="/Ui/Typography" class="menu-link">
            <div data-i18n="Typography">تایپوگرافی</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Extended components -->
    <li class='menu-item@(currentPage.StartsWith("/ExtendedUi/") ? " active open" : "")'>
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-components"></i>
        <div data-i18n="Extended UI">طراحی سفارشی</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/ExtendedUi/Avatar" ? " active" : "")'>
          <a asp-page="/ExtendedUi/Avatar" class="menu-link">
            <div data-i18n="Avatar">آواتار</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/BlockUi" ? " active" : "")'>
          <a asp-page="/ExtendedUi/BlockUi" class="menu-link">
            <div data-i18n="BlockUI">قفل صفحه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/DragDrop" ? " active" : "")'>
          <a asp-page="/ExtendedUi/DragDrop" class="menu-link">
            <div data-i18n="Drag & Drop">کشیدن و رهاکردن</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/MediaPlayer" ? " active" : "")'>
          <a asp-page="/ExtendedUi/MediaPlayer" class="menu-link">
            <div data-i18n="Media Player">مدیاپلیر</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/PerfectScrollbar" ? " active" : "")'>
          <a asp-page="/ExtendedUi/PerfectScrollbar" class="menu-link">
            <div data-i18n="Perfect Scrollbar">نوار اسکرول</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/StarRatings" ? " active" : "")'>
          <a asp-page="/ExtendedUi/StarRatings" class="menu-link">
            <div data-i18n="Star Ratings">امتیاز ستاره‌ای</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/SweetAlert2" ? " active" : "")'>
          <a asp-page="/ExtendedUi/SweetAlert2" class="menu-link">
            <div data-i18n="SweetAlert2">پاپ‌آپ SweetAlert2</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/TextDivider" ? " active" : "")'>
          <a asp-page="/ExtendedUi/TextDivider" class="menu-link">
            <div data-i18n="Text Divider">جداکننده</div>
          </a>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/ExtendedUi/Timeline") ? " active open" : "")'>
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <div data-i18n="Timeline">خط زمانی</div>
          </a>
          <ul class="menu-sub">
            <li class='menu-item@(currentPage == "/ExtendedUi/Timeline/Basic" ? " active" : "")'>
              <a asp-page="/ExtendedUi/Timeline/Basic" class="menu-link">
                <div data-i18n="Basic">پایه</div>
              </a>
            </li>
            <li class='menu-item@(currentPage == "/ExtendedUi/Timeline/FullScreen" ? " active" : "")'>
              <a asp-page="/ExtendedUi/Timeline/FullScreen" class="menu-link">
                <div data-i18n="Fullscreen">تمام صفحه</div>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/Tour" ? " active" : "")'>
          <a asp-page="/ExtendedUi/Tour" class="menu-link">
            <div data-i18n="Tour">تور راهنما</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/Treeview" ? " active" : "")'>
          <a asp-page="/ExtendedUi/Treeview" class="menu-link">
            <div data-i18n="Treeview">نمای درختی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/ExtendedUi/Misc" ? " active" : "")'>
          <a asp-page="/ExtendedUi/Misc" class="menu-link">
            <div data-i18n="Miscellaneous">سایرموارد</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Icons -->
    <li class='menu-item@(currentPage.StartsWith("/Icons/") ? " active open" : "")'>
      <a href="javascript:void(0)" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-brand-tabler"></i>
        <div data-i18n="Icons">آیکن‌ها</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Icons/Tabler" ? " active" : "")'>
          <a asp-page="/Icons/Tabler" class="menu-link">
            <div data-i18n="Tabler">آیکن‌های Tabler</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Icons/FontAwesome" ? " active" : "")'>
          <a asp-page="/Icons/FontAwesome" class="menu-link">
            <div data-i18n="Fontawesome">آیکن‌های Fontawesome</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Forms & Tables -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Forms & Tables">فرم‌ها و جداول</span>
    </li>
    <!-- Forms -->
    <li class='menu-item@(currentPage.StartsWith("/Forms/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-toggle-left"></i>
        <div data-i18n="Form Elements">المان‌های فرم</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Forms/BasicInputs" ? " active" : "")'>
          <a asp-page="/Forms/BasicInputs" class="menu-link">
            <div data-i18n="Basic Inputs">اینپوت‌های پایه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/InputGroups" ? " active" : "")'>
          <a asp-page="/Forms/InputGroups" class="menu-link">
            <div data-i18n="Input groups">اینپوت گروپ</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/CustomOptions" ? " active" : "")'>
          <a asp-page="/Forms/CustomOptions" class="menu-link">
            <div data-i18n="Custom Options">گزینه‌های سفارشی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Editors" ? " active" : "")'>
          <a asp-page="/Forms/Editors" class="menu-link">
            <div data-i18n="Editors">ویرایشگر متن</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/FileUpload" ? " active" : "")'>
          <a asp-page="/Forms/FileUpload" class="menu-link">
            <div data-i18n="File Upload">آپلود فایل</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Pickers" ? " active" : "")'>
          <a asp-page="/Forms/Pickers" class="menu-link">
            <div data-i18n="Pickers">انتخابگر تاریخ و رنگ</div>
          </a>
        </li>
         <li class='menu-item@(currentPage == "/Forms/PickersJalali" ? " active" : "")'>
          <a asp-page="/Forms/PickersJalali" class="menu-link">
            <div data-i18n="Solar Date Pickers">انتخابگر تاریخ شمسی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Selects" ? " active" : "")'>
          <a asp-page="/Forms/Selects" class="menu-link">
            <div data-i18n="Select & Tags">انتخابگر گزینه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Sliders" ? " active" : "")'>
          <a asp-page="/Forms/Sliders" class="menu-link">
            <div data-i18n="Sliders">انتخابگر بازه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Switches" ? " active" : "")'>
          <a asp-page="/Forms/Switches" class="menu-link">
            <div data-i18n="Switches">سوئیچ‌ها</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Forms/Extras" ? " active" : "")'>
          <a asp-page="/Forms/Extras" class="menu-link">
            <div data-i18n="Extras">سایر موارد</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/FormLayouts/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-layout-navbar"></i>
        <div data-i18n="Form Layouts">چیدمان فرم</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/FormLayouts/Vertical" ? " active" : "")'>
          <a asp-page="/FormLayouts/Vertical" class="menu-link">
            <div data-i18n="Vertical Form">فرم عمودی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FormLayouts/Horizontal" ? " active" : "")'>
          <a asp-page="/FormLayouts/Horizontal" class="menu-link">
            <div data-i18n="Horizontal Form">فرم افقی</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FormLayouts/Sticky" ? " active" : "")'>
          <a asp-page="/FormLayouts/Sticky" class="menu-link">
            <div data-i18n="Sticky Actions">سربرگ چسبنده</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/FormWizard/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-text-wrap-disabled"></i>
        <div data-i18n="Form Wizard">فرم مرحله‌ای</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/FormWizard/Numbered" ? " active" : "")'>
          <a asp-page="/FormWizard/Numbered" class="menu-link">
            <div data-i18n="Numbered">شماره‌دار</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/FormWizard/Icons" ? " active" : "")'>
          <a asp-page="/FormWizard/Icons" class="menu-link">
            <div data-i18n="Icons">آیکن‌ها</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage == "/FormValidation/Validation" ? " active" : "")'>
      <a asp-page="/FormValidation/Validation" class="menu-link">
        <i class="menu-icon tf-icons ti ti-checkbox"></i>
        <div data-i18n="Form Validation">اعتبارسنجی فرم</div>
      </a>
    </li>
    <!-- Tables -->
    <li class='menu-item@(currentPage == "/Tables/Basic" ? " active" : "")'>
      <a asp-page="/Tables/Basic" class="menu-link">
        <i class="menu-icon tf-icons ti ti-table"></i>
        <div data-i18n="Tables">جداول</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Tables/DataTables/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-layout-grid"></i>
        <div data-i18n="Datatables">جداول داده‌ای</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Tables/DataTables/Basic" ? " active" : "")'>
          <a asp-page="/Tables/DataTables/Basic" class="menu-link">
            <div data-i18n="Basic">پایه</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Tables/DataTables/Advanced" ? " active" : "")'>
          <a asp-page="/Tables/DataTables/Advanced" class="menu-link">
            <div data-i18n="Advanced">پیشرفته</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Tables/DataTables/Extensions" ? " active" : "")'>
          <a asp-page="/Tables/DataTables/Extensions" class="menu-link">
            <div data-i18n="Extensions">ویژگی‌های خاص</div>
          </a>
        </li>
      </ul>
    </li>

    <!-- Charts & Maps -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Charts & Maps">نمودارها و نقشه‌ها</span>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Charts/") ? " active open" : "")'>
      <a href="javascript:void(0);" class="menu-link menu-toggle">
        <i class="menu-icon tf-icons ti ti-chart-pie"></i>
        <div data-i18n="Charts">نمودارها</div>
      </a>
      <ul class="menu-sub">
        <li class='menu-item@(currentPage == "/Charts/Apex" ? " active" : "")'>
          <a asp-page="/Charts/Apex" class="menu-link">
            <div data-i18n="Apex Charts">نمودارهای Apex</div>
          </a>
        </li>
        <li class='menu-item@(currentPage == "/Charts/Chartjs" ? " active" : "")'>
          <a asp-page="/Charts/Chartjs" class="menu-link">
            <div data-i18n="ChartJS">نمودارهای JS</div>
          </a>
        </li>
      </ul>
    </li>
    <li class='menu-item@(currentPage == "/Maps/Leaflet" ? " active" : "")'>
      <a asp-page="/Maps/Leaflet" class="menu-link">
        <i class="menu-icon tf-icons ti ti-map"></i>
        <div data-i18n="Leaflet Maps">نقشه‌های Leaflet</div>
      </a>
    </li>

    <!-- Misc -->
    <li class="menu-header small text-uppercase">
      <span class="menu-header-text" data-i18n="Misc">سایر</span>
    </li>
    <li class="menu-item">
      <a href='@TempData.Peek("support")' target="_blank" class="menu-link">
        <i class="menu-icon tf-icons ti ti-lifebuoy"></i>
        <div data-i18n="Support">پشتیبانی</div>
      </a>
    </li>
    <li class="menu-item">
      <a href='@TempData.Peek("documentation")' target="_blank" class="menu-link">
        <i class="menu-icon tf-icons ti ti-file-description"></i>
        <div data-i18n="Documentation">مستندات فنی</div>
      </a>
    </li>
  </ul>

</aside>
<!-- / Menu -->
